.virsus {

justify-content: center;
color: white;
font-style: italic;


}

.sidenav {

	background-color: purple;
	
}

.carousel .carousel-item{
    width:100%;
}
/*table, td {
border:
 1px solid black;
}*/