.virsus {

justify-content: center;
color: white;
font-style: italic;


}

.sidenav {

	background-color: purple;
	
}

.carousel .carousel-item{
    width:100%;
}
/*table, td {
border:
 1px solid black;
}*/

h1 {

	text-align: center;
}

.container div {

	display: flex;

}


.naujienulinijav img.pirmanuotrauka {

	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
}

.naujienulinijav ul {

	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 80px;
}

.naujienulinijad img.antranuotrauka {

	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
}

.naujienulinijad ul {

	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 80px;
}

.naujienulinijat img.trecianuotrauka {

	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
}

.naujienulinijat ul {

	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 80px;
}

.naujienulinijav,
.naujienulinijad,
.naujienulinijat {

	border: solid 1px black;
}
