.virsus {

justify-content: center;
color: white;
font-style: italic;


}

.sidenav {

	background-color: purple;
	
}

body {

	background-color: grey;
}

/*table, td {
border:
 1px solid black;
}*/

h1 {

	text-align: center;
}

.naujienulinija img {

	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
}

.naujienulinija {

	border-style: 1px solid black;

}